

<h1>Products</h1>


<%= paginate @products %>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Category</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= link_to product.name, {:action => 'show', :id => product['id']} %></td>
    <td><%= product.brand.name %></td>
    <td><%= product.price %></td>
    <td><%= product.category.name %></td>
  </tr>
<% end %>

</table>